/* on mobile */
@media screen and (max-width:767px) {
    /* navbar */
    #nav-bar .container {
        display: block;
        padding-bottom: 30px;
    }

    /* remove border */
    #nav-bar > .container > a {
        display: block;
        padding: 30px 60px;
        text-align: start;
        color: var(--text-color);
        text-decoration: none;
        border: none;
    }

    #nav-bar > .container >a:last-child {
        border-right: none;
    }

    .banner_infor_developer > h1 {
        font-size: 25px;
    }
    /* hidden navbar avata */
    .nav_avata {
        display: none;
    }

    /* about section */
    #about > .container{
        /* remove old padding and just keep the padding left */
        padding: 0px 0px 0 20px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
    }
    .about_section_padding > h1, .about_section_padding > ul {
        padding-left: 0px;
    }

    /* remove padding left of media link for mobile */
    .icon_marggin {
        padding-left: 0;
    }
    
    /* job-infor section */

    /* margin for each column in section job-infor */
   .sm_margin_job-infor {
    width: 50px;
    margin: 10px;
 
   }
   .projects_in_container {
    max-width: 100%;
    display: block;
}
/* set hight for columns in mobile size at job-infor section*/

.div_col {
    height: 715px;
}

.circle_icon {
    font-size: 20px;
}


/* giai thuong va hinh anh  section*/

.giaithuong_container > div:nth-child(2) {
    border-top: 1px solid #d6c08d;
    border-left: none;   
    padding-top: 30px;
}

.giaithuong_va_hinh_anh {
    margin-bottom: 10px;
    display: block;

}

.giaithoung_info >p {
    margin-bottom: 8px;
    line-height: 1.4rem;
}

/* project section */

/* table in project section */

table tr:first-child {
    height: 100px;
}

table tr:last-child {
    height: 40px;
    border-bottom: none;
}

.td_height {
    height: 45px;
}

/* footer */
.media_infor_link_word {
    display: none;
}
.custom_ul_footer {
    margin-bottom: 0px;
}

.footer_icon {
    font-size: 32px;
}

/* digital-cv */

.container_border {
    border: 24px solid blue;
    border-bottom: none;
}

/* .container {
    margin:  40px auto;
} */
.custom_container {
    margin: 30px;
}
/* Goals section */
.sm_icon_position {
    display: block;
    height: 24px;
    width: 24px;
    margin: 30px auto;
    margin-bottom: 0;
}

.sm_icon_position_team {
    display: block;
    text-align: center;
    margin: 30px 0px 5px 60px;
}

.goal_detail_title {
    margin-top: 5px;
}

/* team section */
.team_section {
    border-top: 20px solid blue;
    border-left: none;
}

/* scope section */
.scope_section {
    border-top: 20px solid blue;
}

/* primary section */
.primary_section {
    border:none;
    border-top: 20px solid blue;
}

/* Timeline section */
.timeline_border{
    border-bottom: 24px solid blue;
}

.circle_date_icon_position {
    margin-bottom: -8px;
}



}
